<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= Settings.Website.title %> | Commands</title>
</head>
<body style="background-color: #1f1f1f; color: white">
    <%- include("header.ejs") %>
    <h1>Commands</h1>
</body>
</html>